<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake news Detector</title>
</head>
<body>
    <div style="background-color: darkslategrey;">
        <div class="text-center" style="color: white; font-size: 30px;">Fake news detector</div>
    </div>
    <section>
        <div class="container" style="position: absolute; top: 150px; left: 550px; font-size: 35px;">Check your facts and validate your news article.
            
        </div> 
    </section>
    <section><hr width="100%" size="10px"></section>
    <div style="position: relative; top: 400px;">
        <div class="container"><input class="form-control form-control-lg" type="text" placeholder="Enter Article body">
            <button type="button" class="btn btn-success">Submit</button></div>
        
    </div>
    <div class="container" style="position: relative; top: 500px;">
        <div class="card">
            <div class="card-body">
              <b>Articles</b>
            </div>
          </div>
    </div>
    
</body>
</html>